*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.logo{
    width: 100%;
    height: 500px;
}
.logo img{
    width: 100%;
    height:500px;
}

.texto-encima{
    position: absolute;
    top: 15px;
    left:35px;
}

.centrado{
    width: 600px;
    height: 250px;
    position: absolute;
margin-top: 140px;
margin-left: 450px;
}


.menu{
    position: relative;
    left: 90%;
    top: 15px;
    font-size: 20px;
    color: black;
}

.boton{
    display: block; 
position: absolute;
top: 280px;
left: 1150px;
 font-size: 20px;
 color: black;
 width: 280px;
 height: 40px;
 border: red 1px double;
 text-align: center;
 padding-top: 15px;
}

.contenedor1{
   float: right;
  
    width: 55%;
    height: 450px;
}

.contenedor1 img{
     width: 100%;
     height: 450px;
 }

.contenedor2 {
  
    width: 45%;
    height: 450px;
}
.contenedor2 img{
    width: 100%;
    height: 450px;
}

.contenedor3{
    float: right;
    width: 45%;
    height: 450px;
}
.contenedor3 img{
    width: 100%;
    height: 450px;
}
.contenedor4{
 
    width: 55%;
    height: 450px;
}
.contenedor4 img{
    width: 100%;
    height: 450px;
}
.contenedor5{
  
    float: right;
    width: 55%;
    height: 450px;
}
.contenedor5 img{
    width: 100%;
    height: 450px;
}

.contenedor6{
  
    width: 45%;
    height: 450px;
}
.contenedor6 img{
    width: 100%;
    height: 450px;
}
.informacion{
    width: 100%;
    height: 450px;
    background-color: #2a2f4a;
    color: white;
    display: flex;
    justify-content: center;
}

.massa{
    padding-top: 80px;
  margin-left: 250px;
}

.massa h2{
  font-size: 35px;
}

.massa p{
  font-size: 23px;
  line-height: 2rem;
  font-style: inherit;
}

.massa a{
  text-decoration: none   ;
  display: block; 
  position: absolute;
   font-size: 20px;
   font-family: sans-serif;
   color: white   ;
   width: 280px;
   height: 40px;
   border: white 3px solid;
   text-align: center;
   padding-top: 15px;
}

.webs{
    width: 100%;
    
}
.inp{ 
     float: right;
    padding-top: 50px;
    padding-left: 5%;
    border-bottom: 2px white solid;
    border-left: 2px white solid;
    width: 55%;
    height: 598px;
    background-color:  #1C2F53;
    color: white;
}

.contacs{
    height: 650px;
}

.email{
    padding-top: 40px;
    padding-left: 4%;
    width: 36%;
    height: 158px;
    border-bottom: 2px white solid;
    background-color: #1C2F53;
    color: white;
}


li{
    list-style: none;
    float: left;
    padding-right: 35px;
}


.phone{
    padding-top: 40px;
     padding-left: 4%;
    width: 36%;
    height: 158px;
    border-bottom: 2px white solid;
      background-color: #1C2F53;
      color: white;
}

.address{
    padding-top: 40px;
    padding-left: 4%;
    width: 36%;
    height: 208px;
    border-bottom: 2px white solid;
    background-color:  #1C2F53;
    color: white;
}
.name{
    float: left;
    padding-right: 35px;
}

.email a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.icono{
    margin-right: 20px;
   font-size: 35px;

}

.footer{
    width: 100%;
    height: 290px;
    background-color:  #1C2F53;
}

.icons{
    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 25px;
}

.footer ul {
    padding-left: 80px;
}

label{
    font-family: "Source Sans Pro";
         font-size: 25px;
}

input{
    border-radius: 10px;
    font-family: "Source Sans Pro";
    font-size: 25px;
    padding: 3px;
}

.primary{
    background-color: white;  
    width: 250px;
}

.secundary{
    background-color:  #1C2F53;
    border: .5px white solid;
    color: white    ;
    width: 100px;
}

textarea{
    border-radius: 10px;
    font-size: 19px;
}


.link1{
    position: relative;
    bottom: 280px;
    color: white;
    padding-left: 50px;
}

.link2{
    position: relative;
    bottom: 280px;
    color: white;
    padding-left: 50px;
}

.link3{
    position: relative;
    bottom: 280px;
    color: white;
    padding-left: 50px;
}
.link4{
    position: relative;
    bottom: 280px;
    color: white;
    padding-left: 50px;
}

.link5{
    position: relative;
    bottom: 280px;
    color: white;
    padding-left: 50px;
}

.link6{
    position: relative;
    bottom: 280px;
    color: white;
    padding-left: 50px;
}

.logo:before{
    content: "";
    width: 100%;
    height: 500px;
    background-color: lawngreen;
     position: absolute;
     opacity: .2;
}

strong{
    background-color: white;
    width: 150px;
    height: 35px;
}

@media screen and (min-width: 700px){
    body{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 320px){
    body{
        display: flex;
        flex-direction: column;
    }
}